.f1{
    font-weight: 100;
}
.f2{
    font-weight: 200;
}
.f3{
    font-weight: 300;
}
.f4{
    font-weight: 400;
}
.f5{
    font-weight: 500;
}
.f6{
    font-weight:600;
}
.f7{
    font-weight: 700;
}
.f8{
    font-weight: 800;
}
.f9{
    font-weight: 900;
}
h1{
   

font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 64px;
letter-spacing: 0em;
text-align: center;

}